
.categories_container, .links_container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links_container {
  padding: 10px;
}

.category_name {
  font-size: 18px;
  font-weight: 200;
}

.category_container {
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}

.category_link {
  color: #80CBF3;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 5px;
  padding-bottom: 1px;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}