
.stage_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons_container {
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button {
  margin-right: 15px;
}