
.container {
  background: linear-gradient(to bottom, #151E2D, #1E3368);
}

.wrapper {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 180px auto;
  column-gap: 2em;
  margin: 0 auto;
  max-width: 1300px;
}